.ti {
    font-size: 20px !important;
}


input,
select,
textarea {
    width: 100%;
    padding: 12px 20px;
    outline: none;
    resize: none;
    border: 1px solid #e3e4e5;
    font-weight: 400;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.add_course_basic_info_imput {
    margin-bottom: 10px;
}

.add_course_more_info_input {
    margin-bottom: 10px;
}

.add_course_more_info_input label {
    margin-bottom: 5px;
}

.add_course_basic_info_input label {
    margin-bottom: 5px;
}

.form-check-input[type="radio"] {
    padding: 12px 12px !important;
}

.form-check-input[type="checkbox"] {
    padding: 12px 12px !important;
}

.add_course_content_action_btn {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px 10px;
    position: absolute;
    top: 6px;
    right: 15px;
    z-index: 9;
}

.add_course_content .accordion-header {
    position: relative;
}

.add_course_content .item_list li {
    color: var(--colorBlack);
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid var(--borderColor);
    padding: 13px 50px 13px 55px;
    position: relative;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

#description {
    padding: 10px 50px 10px 50px;
}

.add_course_content .item_list li span {
    color: var(--colorBlack);
    font-size: 18px;
    font-weight: 500;
}

.add_course_content .item_list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.accordion-item .accordion-body {
    padding: 30px 20px;
    color: var(--paraColor);
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
}

.item_list.sortable_list {
    list-style-type: none;
}

.item_list.sortable_list li span {
    font-size: 15px;
}

.item_list.sortable_list li {
    border: 1px solid gainsboro;
}

.add_course_content .item_list li::before {
    position: absolute;
    content: "📽️";
    font-family: "";
    font-size: 16px;
    font-weight: 600;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: var(--colorPrimary);
    color: var(--colorWhite);
    top: 7px;
    left: 12px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.add_course_content_action_btn {
    margin-top: 9px;
}

.item_list.chapter_sortable_list.ui-sortable li {
    list-style: none;
    border: 1px solid gray;
    padding: 14px;
    border-radius: 5px;
    margin-top: 5px;
}

.item_list.chapter_sortable_list.ui-sortable li {
    position: relative;
}

/* responsive css*/
@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 100%;
    }
}


.certificate-body {
    height: 600px;
    width: 930px;
    background: gray;
    background-repeat: no-repeat;
    text-align: center;
}
.certificate-body div {
    /* display: inline-block; */
}

.certificate-body .title {
    font-size: 20px;
    font-weight: 600;
}

.certificate-body .subtitle {
  font-size: 18px;
  font-weight: 400;
}
.certificate-body .signature img {
    width: auto;
    height: 100px;
    max-width: 300px;

  }

.certificate-body .draggable-element {
    cursor: move;
}

.nav-item.dropdown.active > .dropdown-menu {
    display: block !important;  
}

.dropdown-item.active {
    color: white !important;
    background: #0000004a !important;
}

.nav-item .nav-link.active{
    background: #0000004a !important;
    color: white !important;

}
label {
    margin-bottom: 6px;
  }
