.ti {
    font-size: 20px !important;
}


input, select, textarea {
	width: 100%;
	padding: 12px 20px;
	outline: none;
	resize: none;
	border: 1px solid #e3e4e5;
	font-weight: 400;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
}
.add_course_basic_info_imput {
    margin-bottom: 10px;
}

.add_course_basic_info_imput label {
    margin-bottom: 5px;
  }



/* responsive css*/
@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 100%;
    }
}
