.ti {
    font-size: 20px !important;
}


input,
select,
textarea {
    width: 100%;
    padding: 12px 20px;
    outline: none;
    resize: none;
    border: 1px solid #e3e4e5;
    font-weight: 400;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.add_course_basic_info_imput {
    margin-bottom: 10px;
}

.add_course_more_info_input {
    margin-bottom: 10px;
}

.add_course_more_info_input label {
    margin-bottom: 5px;
}

.add_course_basic_info_input label {
    margin-bottom: 5px;
}

.form-check-input[type="radio"] {
    padding: 12px 12px !important;
}

.form-check-input[type="checkbox"] {
    padding: 12px 12px !important;
}

.add_course_content_action_btn {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px 10px;
    position: absolute;
    top: 6px;
    right: 15px;
    z-index: 9;
}

.add_course_content .accordion-header {
    position: relative;
}



/* responsive css*/
@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 100%;
    }
}
